@charset "utf-8";

section.container div#anuncioproduto{
	width:100%;
	float: left;
	text-align:center;
	color:#fff;
	background-color:#232323;
	padding:5px 0;
	margin-bottom:20px;
	}
	
	section.container article#conteudo{
	width:100%;
	height: auto;
	}
	
	section.container article#conteudo img#imgempresa{
	float:left;
	margin-right:20px;
	}
	
	section.container article#conteudo p{
	color:#666666;
	font-size:18px;
	}
	
/*Media Queries */

@media screen and (max-width:992px) and (min-width:668px){
	section.container div#anuncioproduto{
		background-color:#676767;
	}
}

@media screen and (max-width:667px) {
	section.container div#anuncioproduto{
		background-color:#000729;
	}

section.container article#conteudo img#imgempresa {
	float:none;
	width:80%;
	height:120%;
	display:block;
	margin:auto;
	margin-bottom:10px;
}

}


@media screen and (max-width:457px)
{
	
	section.container div#anuncioproduto{display:none;
	}
	
	section.container article#conteudo img#imgempresa{
	width:100%;
	margin-top:20px;
	}
}
	